<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--사업체 등록/ 스케쥴 등록하는 UI-->
<button> 추가</button>

<div id="scheduleList">
    <div class="scheduleItem" th:each="list: ${schedule}" > <button th:text="|${list.startTime}  ${list.endTime}|"></button> </div>
    <!--  이후동작 (생김/ 사라짐  js로 처리?-->
</div>
<button onclick=""> 등록하기</button> <button onclick="">등록 취소</button>
<a href="/"> 메인으로</a>

</body>
<script>
    const scheduleListdiv = document.querySelector("scheduleList");
    const schedule = /*[[${schedule}]]*/ 'none'

    fetch()

    let addSchedule = ()=>{
        //node로 쓰는게 낫나
        scheduleListdiv.node
    }
</script>
</html>