<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    storeInfo
    <div th:if="${storeInfo.storeId} != 0">
    <h3 th:text="${storeInfo.storeId}"></h3>
    <h3 th:text="${storeInfo.storeName}"></h3>
    <tr th:each="list : ${ schedule }">
        <td th:text="|시간 ${list.startTime}|"></td>
        <td th:text="|${list.capacity}명|"></td>
        <td th:text="|현 예약인원 ${list.bookedPeople}|"></td>
        <td th:if="${list.capacity} > ${list.bookedPeople}">예약 가능</td>
        <td th:unless="${list.capacity} > ${list.bookedPeople}">예약 불가능</td>
        <br>
    </tr>
    </div>
    <!--사업자의 마이페이지 로도 사용가능,
        사업자라면 아래에 일정등록, 사업장 삭제 등의 버튼 추가(+ 해당 사업장 가진 유저인지도 확인)) -->
</body>
</html>