<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/schedule.css" />
    <link rel="stylesheet" href="/static/style/main.css" />
    <title>Title</title>
    <style>
        #deleteModal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */
        }

        #deleteModal > div {
            position: relative;
            background: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        #modalClose {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>

</head>
<body>
<div th:replace="common/header"></div>

<div class="outer-container">
    <div class="left-space"></div>
    <!--컴파일용 정보-->

    <div class="centered-container">
    <h3 hidden th:text="|유저 : ${store.userId}|"></h3>
    <div th:if="${store.storeId} != 0">
        <h3 class="title" th:text="|${store.storeName}|"></h3>
        <div>

            <div class="container" style="display: flex; justify-content: center;">
                <div>
                    <img th:src="${image}" alt="">
                </div>
                <div style="margin: 20px">
                    <div>
                        <h3>사업자 번호 </h3>
                        <div class="texts" th:text="|${store.businessNo}|"></div>
                    </div>
                    <div>
                        <h3 >주소</h3>
                        <div class="texts" th:text="|${store.storeAddress}|"></div>
                    </div>
                </div>
            </div>
            <h3>등록된 일정</h3>
            <div class="token-container">
    <div th:if="${#lists.isEmpty(schedule)}">등록된 일정이 없습니다.</div>
                <div class="token" th:each="list : ${schedule }">
                    <div th:text="|${#dates.format(list.startTime, 'HH:mm')} ~ ${#dates.format(list.endTime, 'HH:mm')}|"></div>
                    <div th:text="|최대 ${list.capacity}명|"></div>
                </div>
            </div>
            <!--            현 예약 n팀 총${list.bookedPeople}명-->
            <!--
            <td th:if="${list.capacity} > ${list.bookedPeople}">예약 가능</td>
            <td th:unless="${list.capacity} > ${list.bookedPeople}">예약 불가능</td>-->
            <hr>

            <h3>설명문</h3>
            <div class="description" th:text="|${store.description}|"></div>

        </div>
        <div style="margin: 20px; display: flex; justify-content: center ;gap: 10px" >
            <a class="a-button" th:href="@{'/reservation/schedule/regist/schedule/' + ${store.userId}}" >일정 수정</a>
            <a class="a-button" th:href="@{'/reservation/schedule/regist/store/' + ${store.userId}}" >사업장정보 수정</a>
            <a class="a-button" th:href="@{'/reservation/store/reservations/' + ${store.userId}}"> 예약 조회</a>
            <!--    아래는 fetch로 보낼거임 th:href="@{'/reservation/schedule/regist/schedule/' + ${store.userId}}"-->
            <form th:action="@{/member/auth/logout}" th:method="post" id="logout">

                <button class="a-button-warning" style=" position: absolute; right: 430px;">로그아웃</button>
            </form>
            <form action="/member/user/deleteUser" method="POST" id="deleteForm">
                <button type="button" id="deleteUserBtn" class="a-button-warning right-align">회원탈퇴</button>
            </form>

        </div>
    </div>
        </div>
    <div th:replace="common/schdulelist.html"></div>
</div>
<div id="deleteModal">
    <div>
        <span id="modalClose" style="cursor: pointer; font-size: 20px">×</span>
        <p>정말로 회원 탈퇴를 진행 하시겠습니까?</p>
        <button id="button">확인</button>
    </div>
</div>

</body>
<script>

    document.getElementById('logout').addEventListener('submit', function(event) {

        if(!confirm('로그아웃 하시겠습니까?')) {
            event.preventDefault();
        } else {
            alert('로그아웃 완료 되었습니다.');
        }

    });

</script>
<script>

    document.getElementById('deleteUserBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'flex';
    };

    document.getElementById('button').onclick = function() {
        document.getElementById('deleteForm').submit();
        alert("회원 탈퇴 진행이 완료 되었습니다.");
    };

    document.getElementById('modalClose').onclick = function() {
        document.getElementById('deleteModal').style.display = 'none';
    };

</script>
</html>