<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        /* 하단 푸터 */
        .footer {
            position: fixed;
            bottom: 0;
            left: 220px;
            right: 220px;
            background-color: #ffffff;
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            font-size: 15px;
        }
    </style>
</head>
<body>
<!-- 하단 푸터 -->
<div class="footer">
    footer
</div>
</body>
</html>