<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/main.css" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="right-space" style="display: block">

    <aside class="schedule-sidebar">
        <div class="schedule-header">
            <span id="toggle-schedule">⯈ 일정 목록</span>
        </div>
        <div class="schedule-content" id="schedule-content">
            <ul>
                <li>오늘</li>
                <li>00일(금)</li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <p>(주) 모여모여
                사업자번호 111-11-11111
                <br>
                통신판매업 신고번호 2024-서울종로-9999
                <br>
                주소 서울특별시 종로구 인사동길 12 대일빌동 10층 10호
                <br>
                전화 1234-5678
                고객문의 moyomoyoe@gmail.com</p>
        </div>
    </aside>
    <div class="right-space">
        <img src="/static/image/leftspace-3.png" alt="Left Space Image 3">
    </div>

</div>
</body>
</html>