<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyomoyoe.board.model.dao.PostMapper">

    <resultMap id="postResultMap" type="moyomoyoe.board.model.dto.PostDTO">
        <id property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="context" column="context"/>
        <result property="nickname" column="nickname"/>
        <result property="postDate" column="post_date"/>
        <result property="userOpen" column="user_open"/>
        <result property="regionCode" column="region_code"/>
        <result property="imageId" column="image_id"/>
        <result property="keywordId" column="keyword_id"/>
    </resultMap>
    
    <resultMap id="regionResultMap" type="moyomoyoe.board.model.dto.RegionDTO">
        <id property="regionCode" column="region_code"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
    </resultMap>

    <!-- 전체메뉴 쿼리 -->
    <select id="findAllPost" resultMap="postResultMap">
        SELECT
            post_id,
            title,
            context,
            nickname,
            post_date,
            user_open,
            region_code,
            image_id,
            keyword_id
        FROM
            tbl_post_list
    </select>

    <!-- 키워드 쿼리 -->
    <select id="findKeywordList" parameterType="int" resultMap="postResultMap">
        SELECT
            post_id,
            title,
            context,
            nickname,
            post_date,
            user_open,
            region_code,
            image_id,
            keyword_id
        FROM
            tbl_post_list
        WHERE
            keyword_id = #{keywordId}
    </select>

    <!-- 지역 시 쿼리-->
    <select id="findRegionCityList" resultMap="regionResultMap">
        SELECT
            distinct city
        FROM
            tbl_region
    </select>

    <select id="findRegionDistrictList" resultMap="regionResultMap">
        SELECT
            district,
            region_code
        FROM
            tbl_region
        WHERE
            city = #{city}
        ORDER BY
            district
    </select>

    <!-- 지역선택에 따른 게시글 목록 -->
    <select id="findPostsByCityAndDistrict" resultType="postResultMap">
        SELECT
            post_id,
            title,
            context,
            nickname,
            post_date,
            image_id,
        FROM
            tbl_post
        WHERE
            city = #{city} AND district = #{district}
    </select>

    <!--제목검색 쿼리-->
    <select id="findTitleList" resultMap="postResultMap">
    SELECT
        post_id,
        title,
        context,
        nickname,
        post_date,
        user_open,
        region_code,
        image_id,
        keyword_id
    FROM
        tbl_post_list
    WHERE
        title LIKE CONCAT('%', #{title}, '%')
    </select>

</mapper>