<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyomoyoe.board.model.dao.PostMapper">

    <resultMap id="postResultMap" type="moyomoyoe.board.model.dto.PostDTO">
        <id property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="context" column="context"/>
        <result property="nickname" column="nickname"/>
        <result property="userId" column="user_id"/>
        <result property="postDate" column="post_date"/>
        <result property="userOpen" column="user_open"/>
        <result property="regionCode" column="region_code"/>
        <result property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="keywordId" column="keyword_id"/>
    </resultMap>

    <resultMap id="imageResultMap" type="moyomoyoe.image.ImageDTO">
        <id property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap id="keywordResultMap" type="moyomoyoe.board.model.dto.KeywordDTO">
        <id property="keywordId" column="keyword_id"/>
        <result property="keywordName" column="keyword_name"/>
    </resultMap>

    <resultMap id="regionResultMap" type="moyomoyoe.board.model.dto.RegionDTO">
        <id property="regionCode" column="region_code"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
    </resultMap>

    <resultMap id="commentResultMap" type="moyomoyoe.board.model.dto.CommentDTO">
        <id property="commentId" column="comment_id"/>
        <result property="nickname" column="nickname"/>
        <result property="comment" column="comment"/>
        <result property="commentPostDate" column="comment_post_date"/>
        <result property="postId" column="post_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- 전체메뉴 쿼리 -->
    <select id="findAllPost" resultMap="postResultMap">
        SELECT
        p.post_id,
        p.title,
        p.context,
        p.nickname,
        p.post_date,
        p.user_open,
        p.region_code,
        p.image_id,
        i.image_name,
        p.keyword_id
        FROM
        tbl_post_list p
        LEFT JOIN
        tbl_image i ON p.image_id = i.image_id
        ORDER BY
        p.post_date DESC
    </select>

    <!-- 키워드 쿼리 -->
    <select id="findKeywordName" resultMap="keywordResultMap">
        SELECT
        keyword_id,
        keyword_name
        FROM
        tbl_keyword_id
    </select>

    <select id="findKeywordList" parameterType="int" resultMap="postResultMap">
        SELECT
        post_id,
        title,
        context,
        nickname,
        post_date,
        user_open,
        region_code,
        image_id,
        keyword_id
        FROM
        tbl_post_list
        WHERE
        keyword_id = #{keywordId}
        ORDER BY
        post_date DESC
    </select>

    <!-- 지역 시 쿼리-->
    <select id="findRegionCityList" resultMap="regionResultMap">
        SELECT
        distinct city
        FROM
        tbl_region
    </select>

    <select id="findRegionDistrictList" resultMap="regionResultMap">
        SELECT
        district,
        region_code
        FROM
        tbl_region
        WHERE
        city = #{city}
        ORDER BY
        district
    </select>

    <!-- 지역선택에 따른 게시글 목록 -->
    <select id="findPostsByRegion" resultMap="postResultMap">
        SELECT
        post_id,
        title,
        context,
        nickname,
        post_date,
        user_open,
        image_id,
        keyword_id
        FROM
        tbl_post_list
        WHERE
        region_code = #{regionCode}
        ORDER BY
        post_date DESC
    </select>

    <!--제목검색 쿼리-->
    <select id="findTitleList" resultMap="postResultMap">
        SELECT
        post_id,
        title,
        context,
        nickname,
        post_date,
        user_open,
        region_code,
        image_id,
        keyword_id
        FROM
        tbl_post_list
        WHERE
        title LIKE CONCAT('%', #{title}, '%')
        ORDER BY
        post_date DESC
    </select>



    <!--세부게시글페이지-->
    <select id="findDetailPostById" resultMap="postResultMap">
        SELECT
        post_id,
        title,
        context,
        nickname,
        post_date,
        user_open,
        image_id,
        user_id,
        region_code,
        keyword_id
        FROM
        tbl_post_list
        WHERE
        post_id = #{postId}
    </select>

    <select id="getImageByUserId">
        SELECT image_id
        FROM tbl_user
        WHERE id = #{userId}
    </select>

    <!-- 사용자 프로필 이미지 -->
    <select id="getProfileImageById" resultMap="imageResultMap">
        SELECT
        image_id,
        image_name
        FROM
        tbl_image
        WHERE
        image_id = #{imageId}
    </select>



    <!--세부게시글삭제-->
    <delete id="deletePost" parameterType="int">
        DELETE
        FROM
        tbl_post_list
        WHERE
        post_id = #{postId}
    </delete>

    <!--세부게시글댓글-->
    <select id="detailPostComment" parameterType="int" resultMap="commentResultMap">
        SELECT
        comment_id,
        nickname,
        comment,
        comment_post_date
        FROM
        tbl_comment
        WHERE
        post_id = #{postId}
        ORDER BY
        comment_id DESC
    </select>

    <!--세부게시글댓글등록-->
    <insert id="comment" parameterType="moyomoyoe.board.model.dto.CommentDTO"
            useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO
        tbl_comment
        (
        post_id,
        nickname,
        comment,
        comment_post_date,
        user_id
        )
        VALUES
        (
        #{postId},
        #{nickname},
        #{comment},
        NOW(),
        #{userId}
        )
    </insert>

    <!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="moyomoyoe.board.model.dto.PostDTO" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO tbl_post_list
        (
        title,
        context,
        nickname,
        user_id,
        post_date,
        user_open,
        region_code,
        image_id,
        keyword_id
        )
        VALUES
        (
        #{title},
        #{context},
        #{nickname},
        #{userId},
        NOW(),
        #{userOpen},
        #{regionCode},
        #{imageId},
        #{keywordId}
        )
    </insert>

    <!-- 이미지 첨부 -->
    <insert id="registImage" parameterType="moyomoyoe.image.ImageDTO" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO
        tbl_image
        (
        image_name
        )
        VALUES
        (
        #{imageName}
        )
    </insert>

    <select id="getImageById" resultMap="imageResultMap">
        SELECT
        image_id,
        image_name
        FROM
        tbl_image
        WHERE
        image_id = #{ imageId }
    </select>

    <!-- 게시글 수정 -->
    <update id="updatePost" parameterType="moyomoyoe.board.model.dto.PostDTO">
        UPDATE tbl_post_list
        SET
        title = #{title},
        context = #{context},
        nickname = #{nickname},
        user_id = #{userId},
        user_open = #{userOpen},
        region_code = #{regionCode},
        image_id = #{imageId},
        keyword_id = #{keywordId}
        WHERE
        post_id = #{postId}
    </update>

    <!-- 게시글 댓글 삭제 -->
    <delete id="deleteComment" parameterType="int">
        DELETE FROM tbl_comment WHERE comment_id = #{commentId}
    </delete>

</mapper>