<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moyomoyoe.reservation.model.dao.ScheduleMapper">

    <!-- 스케줄 결과 매핑 -->
    <resultMap id="scheduleMap" type="moyomoyoe.reservation.model.dto.ScheduleDTO">
        <id property="scheduleId" column="schedule_id"/>
        <result property="storeId" column="store_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="capacity" column="capacity"/>
        <result property="bookedPeople" column="booked"/>
    </resultMap>

    <!-- 스토어 결과 매핑 -->
    <resultMap id="storeMap" type="moyomoyoe.reservation.model.dto.StoreDTO">
        <id property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="storeSort" column="store_sort"/>
        <result property="businessNo" column="busy_no"/>
        <result property="description" column="description"/>
        <result property="userId" column="id"/>
        <result property="imageId" column="image_id_store"/>
    </resultMap>

<!--
    <resultMap id="fullInfoMap" type="moyomoyoe.reservation.model.dto.FullInfoMap">
        <id property="resId" column="res_id"/>
        <result property="userIdRes" column="user_id_res"/>
        <result property="customerNum" column="customer_num"/>
        <result property="scheduleId" column="schedule_id"/>
        <result property="resDate" column="res_date"/>
        <result property="userNameRes" column=""/>
        <result property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="imageId" column="image_id_store"/>
    </resultMap>
-->

    <!-- 스토어 전체 정보 가져오기 -->
    <select id="getStoreAllInfo" parameterType="int" resultMap="storeMap">
        SELECT
        store_id,
        store_name,
        description,
        store_address,
        store_sort,
        busy_no,
        id,
        image_id_store
        FROM
        tbl_store
        WHERE
        store_id = #{code}
    </select>

    <!-- 스케줄 가져오기 -->
    <select id="getSchedule" parameterType="int" resultMap="scheduleMap">
        SELECT
        a.schedule_id,
        a.store_id,
        a.start_time,
        a.end_time,
        a.capacity,
        COALESCE(SUM(b.customer_num), 0) AS booked
        FROM
        tbl_schedule a
        LEFT JOIN
        tbl_reservation b
        ON
        a.schedule_id = b.schedule_id
        WHERE
        a.store_id = #{code}
        GROUP BY
        a.schedule_id, a.store_id, a.start_time, a.end_time, a.capacity
        ORDER BY
        a.start_time ASC;
        ;
    </select>

    <select id="getScheduleById" parameterType="int" resultMap="scheduleMap">
        SELECT
        a.schedule_id,
        a.store_id,
        a.start_time,
        a.end_time,
        a.capacity,
        FROM
        tbl_schedule a
        WHERE
        schedule_id = #{code}
        ;
    </select>

    <!-- 사용자 ID로 스토어 ID 가져오기 -->
    <select id="findUserStore" parameterType="int" resultType="int">
        SELECT
        store_id
        FROM
        tbl_store
        WHERE
        id = #{code}
    </select>

    <!-- 스토어 등록 -->
    <insert id="registStore" parameterType="moyomoyoe.reservation.model.dto.StoreDTO">
        INSERT INTO tbl_store (
        store_name, store_address, description, store_sort, busy_no, id, image_id_store
        )
        VALUES (
        #{storeName}, #{storeAddress}, #{description}, #{storeSort}, #{businessNo}, #{userId}, #{imageId}
        )
    </insert>

    <!-- 스토어 업데이트 -->
    <update id="updateStore" parameterType="moyomoyoe.reservation.model.dto.StoreDTO">
        UPDATE tbl_store
        SET
        store_name = #{storeName},
        store_address = #{storeAddress},
        description = #{description},
        store_sort = #{storeSort},
        image_id_store = #{imageId},
        busy_no = #{businessNo}
        WHERE
        store_id = #{storeId}
    </update>

    <!-- 스케줄 등록 -->
    <insert id="registSchedule" parameterType="moyomoyoe.reservation.model.dto.ScheduleDTO">
        INSERT INTO tbl_schedule (
        store_id, start_time, end_time, capacity
        )
        VALUES (
        #{storeId}, #{startTime}, #{endTime}, #{capacity}
        )
    </insert>

    <!-- 스케줄 ID로 삭제 -->
    <delete id="deleteScheduleId" parameterType="int">
        DELETE FROM tbl_schedule
        WHERE
        schedule_id = #{id}
    </delete>

    <!-- 스토어 삭제 -->
    <delete id="deleteStore" parameterType="int">
        DELETE FROM tbl_store
        WHERE
        store_id = #{code}
    </delete>

    <select id="getResBySchedule">
        SELECT res_id
        FROM tbl_reservation
        WHERE schedule_id = #{id}
        ;
    </select>
    <select id="getImageId">
        SELECT image_id
        FROM tbl_image
        WHERE
        image_name = #{imageName}
        ;
    </select>
    <select id="getImageById">
    SELECT image_name
    FROM tbl_image
    WHERE
    image_id = #{id}
    ;
</select>
    <select id="getUserFullReserInfo" parameterType="int" resultType="map">
        SELECT a.res_id, a.user_id_res, a.res_date,
        a.customer_num, a.schedule_id,
        b.start_time, b.end_time,
        c.store_name, c.image_id_store
        FROM tbl_reservation a
        JOIN tbl_schedule b ON a.schedule_id = b.schedule_id
        JOIN tbl_store c ON b.store_id = c.store_id
        WHERE a.user_id_res = #{code}
        AND (a.res_date > CURRENT_DATE OR (a.res_date = CURRENT_DATE AND b.end_time > CURRENT_TIME))
        ORDER BY a.res_date, b.start_time;
    </select>

</mapper>