<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyomoyoe.member.user.model.dao.UserMapper">

    <resultMap id="authenticatedUser" type="moyomoyoe.member.auth.model.dto.UserDTO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="userRole" column="user_role"/>
        <result property="imageId" column="image_id"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

    <resultMap id="regionResultMap" type="moyomoyoe.member.user.model.dto.RegionDTO">
        <id property="regionCode" column="region_code"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
    </resultMap>

    <resultMap id="imageResultMap" type="moyomoyoe.image.ImageDTO">
        <id property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
    </resultMap>

    <resultMap id="allRegionResultMap" type="moyomoyoe.member.user.model.dto.RegionDTO">
        <id property="regionCode" column="region_code"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
    </resultMap>

    <select id="findByAccount" resultMap="authenticatedUser">
        SELECT
        id,
        username,
        account,
        password,
        nickname,
        email,
        phone,
        user_role,
        image_id,
        user_region,
        is_active
        FROM
        tbl_user
        WHERE
        account = #{ account }
    </select>

    <select id="findAllRegion" resultMap="allRegionResultMap">
        SELECT
        region_code,
        city,
        district
        FROM
        tbl_region
    </select>

    <select id="getRegionByUserId" resultMap="regionResultMap">
        SELECT
        a.region_code,
        a.city,
        a.district
        FROM
        tbl_region a
        JOIN
        tbl_user b ON b.user_region = a.region_code
        WHERE
        b.id = #{ id }
    </select>

    <select id="findById" parameterType="moyomoyoe.member.auth.model.dto.UserDTO">
        SELECT
        *
        FROM
        tbl_region
        WHERE
        id = #{ id }
    </select>

    <select id="getImageById" resultMap="imageResultMap">
        SELECT
        a.image_id,
        a.image_name
        FROM
        tbl_image a
        JOIN
        tbl_user b ON b.image_id = a.image_id
        WHERE
        b.id = #{ id }
    </select>

    <select id="findAccount" parameterType="moyomoyoe.member.user.model.dto.FindIdDTO">
        SELECT
        account
        FROM
        tbl_user
        WHERE
        username = #{ username } AND
        email = #{ email } AND
        is_active = 'Y'
    </select>

    <select id="findPwd" parameterType="moyomoyoe.member.user.model.dto.FindPwdDTO">
        SELECT
        password
        FROM
        tbl_user
        WHERE
        account = #{ account } AND
        email = #{ email }
    </select>

    <insert id="regist" parameterType="moyomoyoe.member.user.model.dto.SignupDTO">
        INSERT INTO
        tbl_user
        (
        username,
        account,
        password,
        nickname,
        email,
        phone,
        user_role,
        user_region,
        image_id
        )
        VALUES
        (
        #{ username },
        #{ account },
        #{ password },
        #{ nickname },
        #{ email },
        #{ phone },
        #{ userRole },
        #{ userRegion },
        1
        )
    </insert>

    <insert id="registImage" parameterType="moyomoyoe.image.ImageDTO" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO
        tbl_image
        (
        image_name
        )
        VALUES
        (
        #{ imageName }
        )
    </insert>

    <update id="update" parameterType="moyomoyoe.member.auth.model.dto.UserDTO">
        UPDATE
        tbl_user
        SET
        password = #{ password },
        nickname = #{ nickname },
        phone = #{ phone },
        email = #{ email },
        image_id = #{ imageId }
        WHERE
        account = #{ account }
    </update>

    <update id="updatePwd" parameterType="moyomoyoe.member.user.model.dto.FindPwdDTO">
        UPDATE
        tbl_user
        SET
        password = #{ password }
        WHERE
        account = #{ account }
    </update>

    <update id="deleteUser" parameterType="String">
        UPDATE
        tbl_user
        SET
        is_active = 'N'
        WHERE
        account = #{ account }
    </update>


</mapper>