/*body {*/
/*    font-family: '런드리고딕OTF', sans-serif;*/
/*}*/

/* 본문 컨테이너 전체 중앙 정렬 */
.container {
    position: relative;
    padding: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}

form {
    padding: 80px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.form-group {
    margin-bottom: 15px; /* 각 필드 간의 간격 */
    margin-right: 100px;
}

label {
    display: inline-block; /* 레이블을 블록 요소로 변환 */
    width: 100px; /* 레이블 너비 설정 */
    text-align: right;
    padding-right: 20px;
}

input {
    width: 200px; /* 입력 필드 너비 설정 */
    padding: 5px; /* 여백 추가 */
}

.find-group {
    position: absolute;
    margin: 30px;
    /*padding-right: 400px;*/
    /*right: 600px;*/
    transform: translateX(600px);
    text-align: right;
    font-size: 15px;
}

a.find {
    text-decoration: none;
    font-weight: 100;
    color: rgb(134, 134, 134);
}

a.find:hover {
    color: rgb(44, 43, 43);
    text-decoration: underline;
}

button{
    font-family: '런드리고딕OTF', sans-serif;
    background: #CAEEE7;
    border: #6BAFA2 2px solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
button:hover {
    background: #B2DBD5;  /* 마우스를 올렸을 때 배경색 변경 */
    border-color: #569387; /* 테두리 색상 변경 */
}

div.a-button {
    color: black;
    text-decoration: none;
    display: inline-block;
    background: #CAEEE7;
    border: #6BAFA2 2px solid;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

div.a-button:hover {
    background: #B2DBD5;  /* 마우스를 올렸을 때 배경색 변경 */
    border-color: #569387; /* 테두리 색상 변경 */
}

div>a {
    color: black;
    text-decoration: none;
}

.buttons {
    /*position: absolute;*/
    /*right: 700px;*/
    margin: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
