body {
    font-family: '런드리고딕OTF', sans-serif;
    justify-content: center;
}

form {
    padding: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.form-group {
    margin-bottom: 15px; /* 각 필드 간의 간격 */
    margin-right: 100px;
}

input[type="text"],
input[type="password"],
select {
    max-width: 200px;
    padding: 8px;
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

label {
    display: inline-block; /* 레이블을 블록 요소로 변환 */
    width: 100px; /* 레이블 너비 설정 */
    text-align: right;
}

input {
    max-width: 200px;
    margin: 5px;
}

.input-b {
    width: 200px; /* 입력 필드 너비 설정 */
    padding: 5px; /* 여백 추가 */
}

.input-a {
    width: 10px;
    padding: 5px;
}

.input-c {
    width: 50px;
    padding: 5px;
}

button#checkAcct {
    padding: 5px 10px;
    font-size: 11px;
}


