/*  <link rel="stylesheet" href="/static/style/test.css" />*/

/*본문 컨테이너 전체 중앙정렬*/
.container {
    padding: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}


/*버튼과 동일하게 보이는 a태그*/
.a-button {
    display: inline-block;
    background: #CAEEE7;
    border: #6BAFA2 2px solid;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
