@font-face {
    font-family:'LaundrygothicRegular';
    src: url("./fonts/laundrygothicRegular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    font-family: 'LaundryGothic', sans-serif; /* 지정한 폰트 적용 */
}

.post-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* 각 게시글 사이 간격 */
}

/* 각 게시글을 감싸는 컨테이너 */
.post-container {
    flex: 0 1 calc(50% - 20px); /* 화면 너비의 절반씩 차지, 2단 레이아웃 */
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
}

/* 이미지 크기 고정 */
.postlist-table img {
    width: 100px;
    height: 100px;
}

.postlist-table {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.post-container {
    cursor: pointer; /* 마우스를 올렸을 때 커서를 포인터로 변경 */
}
