<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moyomoyoe.reservation.mapper.ReservationMapper">
    <resultMap id="scheduleMap" type="moyomoyoe.reservation.DTO.ScheduleDTO">
        <id property="scheduleId" column="schedule_id"/>
        <id property="storeId" column="store_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="capacity" column="capacity"/>
        <result property="bookedPeople" column="booked"/>
    </resultMap>
    <resultMap id="storeMap" type="moyomoyoe.reservation.DTO.StoreDTO">
        <id property="storeId" column="store_id"/>
        <result property="storeName" column="store_name"/>
        <result property="storeAddress" column="store_address"/>
        <result property="storeSort" column="store_sort"/>
        <result property="businessNo" column="busy_no"/>
        <result property="description" column="description"/>
        <result property="userId" column="id"/>
        <result property="imageId" column="image_id_store"/>
</resultMap>
    <select id="getStoreAllInfo" resultMap="storeMap">
        SELECT
            store_Id,
            store_name,
            description,
            store_address,
            store_sort,
            description,
            busy_no,
            id,
            image_id_store
        FROM tbl_store
        WHERE store_id = #{code}
    </select>
    <select id="getSchedule" resultMap="scheduleMap">
        SELECT
        a.schedule_id,
        a.store_id,
        a.start_time,
        a.end_time,
        a.capacity,
        SUM(b.customer_num) AS booked
        FROM
        tbl_schedule a
        LEFT JOIN
        tbl_reservation b
        ON
        a.schedule_id = b.schedule_id
        WHERE
        a.store_id = #{code}
        GROUP BY
        a.schedule_id, a.store_id, a.start_time, a.end_time, a.capacity;
    </select>


    <insert id="registStore" parameterType="moyomoyoe.reservation.DTO.StoreDTO">
        INSERT INTO tbl_store(store_name,store_address, description,store_sort,busy_no ,id,image_id_store)
        VALUES ( #{storeName}, #{storeAddress},#{description},#{storeSort},#{businessNo},#{userId},#{imageId});
    </insert>
    <update id="updateStore"  parameterType="moyomoyoe.reservation.DTO.StoreDTO">
        UPDATE tbl_store
        SET
        store_name= #{storeName},
        store_address = #{storeAddress},
        description= #{description},
        store_sort = #{storeSort},
        image_id_store = #{imageId},
        busy_no = #{businessNo}
        WHERE tbl_store.store_id= #{storeId}
        ;
    </update>
    <insert id="registSchedule" parameterType="moyomoyoe.reservation.DTO.ScheduleDTO">
        INSERT INTO tbl_schedule (store_id, start_time, end_time,capacity)
        VALUES(#{storeId}, #{startTime}, #{endTime}, #{capacity})

    </insert>
    <delete id="deleteScheduleId">
        DELETE FROM tbl_schedule
        WHERE schedule_id = #{id} AND store_id = #{code}
    </delete>

</mapper>