<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>
<body>
<h1>게시글 작성</h1>
<div th:replace="common/header.html"></div>
<div class="outer-container">
    <div class="left-space"></div>

    <div class="centered-container">
<form action="/board/createpost" method="post" enctype="multipart/form-data">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required>
    <br>

    <label for="context">내용:</label>
    <textarea id="context" name="context" required></textarea>
    <br>

    <label for="userOpen">공개 여부:</label>
    <select id="userOpen" name="userOpen">
        <option value="true">공개</option>
        <option value="false">비공개</option>
    </select>
    <br>

    <!--    <label for="imageId">이미지:</label>-->
    <!--    <input type="number" id="imageId" name="imageId">-->
    <!--    <br>-->

    <label for="singleFile">이미지 업로드:</label>
    <input type="file" id="singleFile" name="singleFile"><br>

    <label for="regionCode">지역 :</label>
    <select id="regionCode" name="regionCode">
        <option value="1">강남구</option>
        <option value="2">강동구</option>
        <option value="3">강북구</option>
        <option value="4">강서구</option>
        <option value="5">관악구</option>
        <option value="6">광진구</option>
        <option value="7">구로구</option>
        <option value="8">금천구</option>
        <option value="9">노원구</option>
        <option value="10">도봉구</option>
        <option value="11">동대문구</option>
        <option value="12">동작구</option>
        <option value="13">마포구</option>
        <option value="14">서대문구</option>
        <option value="15">서초구</option>
        <option value="16">성동구</option>
        <option value="17">성북구</option>
        <option value="18">송파구</option>
        <option value="19">양천구</option>
        <option value="20">영등포구</option>
        <option value="21">용산구</option>
        <option value="22">은평구</option>
        <option value="23">종로구</option>
        <option value="24">중구</option>
        <option value="25">중랑구</option>
    </select>
    <br>

    <label for="keywordId">키워드 :</label>
    <select id="keywordId" name="keywordId">
        <option value="1">영화</option>
        <option value="2">독서</option>
        <option value="3">스터디</option>
        <option value="4">스포츠</option>
        <option value="5">여행</option>
        <option value="6">기타</option>
    </select>
    <br>



    <button type="submit">게시글 등록</button>
</form>
    </div>
    <div th:replace="common/schdulelist.html"></div>
</div>
</body>
</html>
