<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keywordlist</title>
    <script>
        const successMessage = `[[${ successMessage}]]`;
        if(successMessage) alert(successMessage);
    </script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
</head>
<body>
<div th:replace="common/header.html"></div>
<div id="grid"></div>

<script th:inline="javascript">

    let keywordList = /*[[${keywordList}]]*/ [];

    console.log("keywordList 데이터: ", keywordList);

    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        data: keywordList,
        scrollX: false,
        scrollY: true,
        columns: [
            {
                header: '게시글번호',
                name: 'postId'
            },
            {
                header: '제목',
                name: 'title'
            },
            {
                header: '내용',
                name: 'context'
            },
            {
                header: '닉네임',
                name: 'nickname'
            },
            {
                header: '작성일자',
                name: 'postDate',
                sortable: true,
                sortingType: 'desc'
            },
            {
                header: '이미지',
                name: 'imageId'
            },
            {
                header: '키워드',
                name: 'keywordId'
            }
        ]
    });

    // 기본적으로 작성일자 기준 내림차순 정렬
    grid.sort('postDate', false);

    // 행(row)을 클릭했을 때 상세 페이지로 이동하는 이벤트 등록
    grid.on('click', (ev) => {
        // 클릭한 행의 데이터가 있는지 확인
        const postId = ev.instance.getValue(ev.rowKey, 'postId');  // 클릭한 행의 postId 가져오기

        console.log(`Selected postId: ${postId}`);

        if (postId) {
            // postId를 이용해 detailpost 페이지로 이동
            window.location.href = `/board/detailpost/${postId}`;
        } else {
            console.log('postId not found');
        }
    });
</script>
<button onclick="location.href='/'">메인으로</button>
</body>
</html>
