<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 일정 리스트</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1 class="text-center mt-5">예약 일정 리스트</h1>
</header>

<main class="container mt-4">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>가게명</th>
            <th>예약 날짜</th>
            <th>예약 시작 시간</th>
            <th>예약 종료 시간</th>
            <th>인원수</th>
            <th>상세보기</th> <!-- 새롭게 추가된 열 -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${reservationList}">
            <td th:text="${schedule.storeName}"></td>
            <td th:text="${schedule.resDate}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
            <td th:text="${schedule.capacity} + '명'"></td>
            <td th:text="${schedule.scheduleId}"></td>  <!-- scheduleId 값을 출력 -->
            <a th:href="@{/reservation/scheduleDetail/{scheduleId}(scheduleId=${schedule.scheduleId})}">
                Details
            </a>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>