<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store Detail View</title>
    <link rel="stylesheet" href="/static/style/test.css" />
    <link rel="stylesheet" href="/static/style/schedule.css" />

</head>
<body>

<header>
    <h1>매장 상세 정보</h1>
    <nav>
        <a href="/" th:href="@{/}">Home</a> |
        <a href="/about" th:href="@{/about}">About Us</a> |
        <a href="/contact" th:href="@{/contact}">Contact</a>
    </nav>
</header>

<main>
    <div class="store-detail">
        <img th:src="@{'/images/store/' + ${store.storeId} + '.png'}" alt="Store Image">
        <h2 th:text="${store.storeName} + ' (' + ${store.storeSort} + ')'">매장 이름 (업종)</h2>
        <p>주소: <span th:text="${store.storeAddress}">주소</span></p>
        <p>상세 설명: <span th:text="${store.description}">상세 설명</span></p>

        <!-- 예약하기 버튼 -->
        <button class="reservation-button"
                th:onclick="|location.href='/reservation/submit?storeId=' + ${store.storeId}|">예약하기
        </button>
    </div>

    <!-- 목록으로 돌아가기 버튼 -->
    <button class="back-button" th:onclick="|location.href='/reservation/storeList'|">목록</button>
</main>

<footer>
    <p>&copy; 2024 Your Company Name. All rights reserved.</p>
</footer>

</body>
</html>