<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사업자 마이페이지 및 예약 리스트</title>
    <link rel="stylesheet" href="/static/style/main.css" />
    <link rel="stylesheet" href="/static/style/schedule.css" />
</head>
<body>
<div th:replace="common/header.html"></div>
<div class="outer-container">
    <div class="left-space"></div>


    <div class="centered-container">
        <h2>예약 관리</h2>
        <hr>
<!--        -->
<!--<div th:if="${store.storeId} != 0">-->
<!--    <h3 th:text="|가게명 : ${store.storeName}|"></h3>-->
<!--    <h3 th:text="|업종 : ${store.storeSort}|"></h3>-->
<!--    <h4 th:text="|설명문 : ${store.description}|"></h4>-->


<!-- 사업장 예약 리스트 -->
<!--<div th:if="${reservations != null and reservations.size() > 0}">
    <h3>예약 목록</h3>
    <ul>
        <li th:each="reservation : ${reservations}">
            <h4 th:if="${reservation != null}">
                예약 날짜: <span th:text="${reservation['res_date']}"></span><br>
                인원수: <span th:text="${reservation['customer_num']}"></span><br>
                사용자 ID: <span th:text="${reservation['user_id_res']}"></span><br>
                스케줄 ID: <span th:text="${reservation['schedule_id']}"></span><br>
            </h4>
            <hr>
        </li>
    </ul>
</div>-->
        <div class="texts">클릭시 세부정보로 넘어갑니다.</div>
        <div id="reservation-container">

        </div>


<div th:if="${reservations == null or reservations.size() == 0}">
    <p>예약된 일정이 없습니다.</p>
</div>

<a class="a-button" href="/main">돌아가기</a>

    </div>
    <div th:replace="common/schdulelist.html"></div>

</div>
</body>
<script th:inline="javascript">
    const reservations = /*[[${reservations}]]*/ [];
    const schedules = /*[[${schedules}]]*/ [];
    const container = document.querySelector("#reservation-container");
    let curDate="";

        console.log(schedules)
        console.log(reservations)
    reservations.forEach(r=>{
        if (curDate != r.res_date){
            curDate = r.res_date;
            const dateHeader = document.createElement("h2");
            dateHeader.innerText = `${curDate.slice(-5)}의 예약 목록`;
            container.appendChild(dateHeader);

            const hr = document.createElement("hr");
            container.appendChild(hr);
        }
        let schedule = schedules.find(s => s.scheduleId === r.schedule_id);
        let newReservation = document.createElement("button");
        newReservation.id ="token"

        newReservation.classList.add("clickable-token");
        newReservation.innerHTML=  `예약자 명:${r.user_name_res}<br>
            인원수 : ${r.customer_num}<hr>
            ${schedule.startTime.slice(0,5)} ~ ${schedule.endTime.slice(0,5)}
            `
        newReservation.addEventListener("click",()=>{
            location.href=`/reservation/reservationDetail/${r.res_id}`;} )// 즉시 실행 함수로 r.res_id를 고정
        container.appendChild(newReservation)

    })

</script>
</html>