<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/editInfo.css" />
    <link rel="stylesheet" href="/static/style/main.css" />
    <link rel="stylesheet" href="/static/style/member.css" />
    <title>EDITINFO</title>
    <style>
        #upload-file-button {
            background-color: #CAEEE7;
            border: 1px solid #6BAFA2;
            border-radius: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #upload-file-button:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div th:replace="common/header.html"></div>
<div class="outer-container">
    <div class="left-space"></div>

    <div class="centered-container">
<div class="page-title">
    <h2>&nbsp;&nbsp;회원 정보 수정</h2>
    <hr>
</div>

<div class="container">
    <div th:if="${ img != null }">
        <img th:src="${ img }" alt="업로드 파일" width="100" height="100">
    </div>
    <form th:action="@{/member/user/updateInfo}" method="POST" id="updateInfo" enctype="multipart/form-data">
        <div class="edit-info">
            <p id="required">∗ 는 필수 입력 값입니다.</p>
        <div class="form-group">
            <label><b>파일</b></label><input type="file" name="singleFile" style="height: 25px"><br>
        </div>
        <div class="custom-hr"></div>
        <div class="info-group">
            <label><b>이름</b></label><span th:text="${ user.name }"></span><br>
        </div>
        <div class="info-group">
            <label><b>아이디</b></label><span th:text="${ user.account }"></span><br>
        </div>
        <div class="form-group">
            <label><b>∗ 비밀번호</b></label><input type="password" id="password" name="password" required><br>
        </div>
            <div class="optionPwd">
                <span id="optionPwd" style="color: gray; font-size: 14px"><small>알파벳 소문자, 숫자, 특수문자(@!$%*&?) 포함 8 ~ 10자 내</small></span>
            </div>
        <div class="form-group">
            <label><b>∗ 비밀번호 확인</b></label><input type="password" id="checkPwd" name="checkPwd" required><br>
        </div>
        <div class="errorMsg2">
            <span id="errorMsg2" style="color: tomato; display: none"><small>Ⅹ  비밀번호가 일치하지 않습니다.</small></span>
        </div>
            <div class="errorMsg4">
            <span id="errorMsg4" style="color: forestgreen; display: none"><small>√  비밀번호 일치 확인</small></span>
            </div>
        <div class="form-group">
            <label><b>∗ 닉네임</b></label><input type="text" id="nickname" name="nickname" required><br>
        </div>
        <div class="info-group">
            <label><b>지역</b></label><span th:text="${ user.region }"></span><br>
        </div>
        <div class="form-group">
            <label><b>∗ 연락처</b></label><input type="text" id="signUpPhoneNum1" name="phone" size="3" style="width: auto" required>
            -
            <input type="text" id="signUpPhoneNum2" name="phone" size="4" style="width: auto" required>
            -
            <input type="text" id="signUpPhoneNum3" name="phone" size="4" style="width: auto" required><br>
        </div>
        <div class="form-group">
            <label><b>∗ 이메일</b></label>
            <div class="email-group">
            <input type="text" id="signupEmailLocal" name="email" style="width: 100px" required>
            @
            <select id="signupEmailDomain" name="email" required>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.net">daum.net</option>
            </select><br>
            </div>
        </div>
        </div>
        <br>
        <div class="button">
            <button id="updateFormButton">저장</button>
        </div>
    </form>
</div>


    <script>
        const password = document.getElementById('password');
        const checkPwd = document.getElementById('checkPwd');
        const errorMsg2 = document.getElementById('errorMsg2');

        document.getElementById('updateInfo').addEventListener('submit', function(event) {

            console.log('폼제출');

            if(checkPwd.value !== password.value) {
                event.preventDefault();
                alert('비밀번호가 일치하지 않습니다.');
                console.log('비밀번호 불일치');
                return;
            } else {
                // this.submit();
                console.log('비밀번호 일치 제출 완');
            }
        });

        document.getElementById('password').addEventListener('input', function () {

            if (password.value === '' && checkPwd.value === '') {
                // 두 입력란이 모두 비어 있을 때
                errorMsg2.style.display = 'none';
                errorMsg4.style.display = 'none';
            } else if (checkPwd.value === '') {
                // 비밀번호 확인란이 비어 있을 때
                errorMsg2.style.display = 'none';
                errorMsg4.style.display = 'none';
            } else if (checkPwd.value !== password.value) {
                // 비밀번호와 비밀번호 확인란이 다를 때
                errorMsg2.style.display = 'block';
                errorMsg4.style.display = 'none';
            } else {
                // 비밀번호와 비밀번호 확인란이 일치할 때
                errorMsg2.style.display = 'none';
                errorMsg4.style.display = 'block';
            }
        });

        document.getElementById('checkPwd').addEventListener('input', function() {

            if (password.value === '' && checkPwd.value === '') {
                // 두 입력란이 모두 비어 있을 때
                errorMsg2.style.display = 'none';
                errorMsg4.style.display = 'none';
            } else if (checkPwd.value !== password.value) {
                // 비밀번호와 비밀번호 확인란이 다를 때
                errorMsg2.style.display = 'block';
                errorMsg4.style.display = 'none';
            } else if (checkPwd.value === password.value) {
                // 비밀번호와 비밀번호 확인란이 일치할 때
                errorMsg2.style.display = 'none';
                errorMsg4.style.display = 'block';
            }
        });

        document.getElementById('signupEmailLocal').addEventListener('input', function () {
            const local = document.getElementById('signupEmailLocal').value;
            const domain = document.getElementById('signupEmailDomain').value;
            const email = `${local}@${domain}`;	// 합쳐서 이메일 완성 챠란~!

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/;
            if (emailRegex.test(email)) {
                console.log(`Valid Email : ${email}`);
            } else {
                console.log(`Invalid Email Format`)
            }
        });

        document.getElementById('updateInfo').addEventListener('submit', function (e) {
            // e.preventDefault();

            const id = document.getElementById('account').value;
            const password = document.getElementById('password').value;

            // 한글 포함 여부 검사
            const KoreanRegex = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
            if (KoreanRegex.test(password)) {
                alert('비밀번호에는 한글을 입력할 수 없습니다.');
                e.preventDefault();
                return;
            } else {
                // this.submit();
            }

            const pwdRegex = /^(?=.*[a-z])(?=.*\d)(?=.*[@!$%*&?])[a-z\d@!$%*&?]{8,}$/;
            if (!pwdRegex.test(password)) {
                alert('비밀번호는 소문자, 숫자, 특수문자를 포함하여 최소 8자리 이상으로 입력해주세요.');
                e.preventDefault();
                return;
            } else {
                // this.submit();
            }

            const firstNum = document.getElementById('signUpPhoneNum1').value;
            const midNum = document.getElementById('signUpPhoneNum2').value;
            const lastNum = document.getElementById('signUpPhoneNum3').value;
            const phone = `${firstNum}-${midNum}-${lastNum}`;

            const phoneNumRegex = /^\d{3}-\d{3,4}-\d{4}$/;
            if (!phoneNumRegex.test(phone)) {
                alert('올바른 휴대전화번호를 입력해주세요.');
                e.preventDefault();
                return;
            } else {
                console.log('phone');
                // this.submit();
            }
        });

    </script>

    </div>
    <div th:replace="common/schdulelist.html"></div>
</div>
</body>
</html>