<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MYPAGE</title>
</head>
<body>
<h1>마이페이지</h1>

<div id="profileImg">
    <img src="" alt="기본프로필사진">
</div>
<br>
<h2><span th:text="${ userSession.nickname }"></span></h2>
<h3><span th:text="${ userSession.region }"></span></h3>
<br>
<br>
<br>
<form th:action="@{/member/auth/logout}" th:method="post">
    <button>로그아웃</button>
</form>
<form action="/member/user/userInfo">
    <button>회원 정보 조회</button>
</form>

</body>
</html>