<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/myPage.css" />
    <link rel="stylesheet" href="/static/style/main.css" />
    <link rel="stylesheet" href="/static/style/member.css" />
    <title>MYPAGE</title>
</head>
<body>
<div th:replace="common/header.html"></div>
<div class="outer-container">
    <div class="left-space"></div>

    <div class="centered-container">
<div class="page-title">
    <h2>&nbsp;&nbsp;마이페이지</h2>
    <hr>
</div>

<div class="container">
    <div class="users">
        <div id="profileImg">
            <img th:src="${ user.image }" alt="프로필 사진" class="profile-image" width="200" height="200">
        </div>
        <br>
        <div class="user-name-region">
            <h2 class="user-nickname"><span th:text="${ user.nickname }"></span></h2>
            <h3>📍&nbsp;<span th:text="${ user.region }"></span></h3>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="buttons">
        <form th:action="@{/member/auth/logout}" th:method="post" id="logout">
            <button>로그아웃</button>
        </form>
        <form action="/member/user/userInfo">
            <button>회원 정보 조회</button>
        </form>
    </div>
</div>

<script>

    document.getElementById('logout').addEventListener('submit', function(event) {

        if(!confirm('로그아웃 하시겠습니까?')) {
            event.preventDefault();
        } else {
            alert('로그아웃 완료 되었습니다.');
        }

    });

</script>
    </div>
        <div th:replace="common/schdulelist.html"></div>
    </div>
</body>
</html>