<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USERINFO</title>
</head>
<body>
    <h1>회원 정보 조회</h1>

    <div>
        <img th:src="${ user.image }" alt="프로필 파일" width="100" height="100">
    </div>
    <br>
    <div id="userInfo">
        이름 : <span th:text="${ user.name }"></span><br>
        아이디 : <span th:text="${ user.account }"></span><br>
        닉네임 : <span th:text="${ user.nickname }"></span><br>
        지역 : <span th:text="${ user.region }"></span><br>
        연락처 : <span th:text="${ user.phone }"></span><br>
        이메일 : <span th:text="${ user.email }"></span><br>
    </div>
    <br>
    <form action="/member/user/editInfo">
        <button>회원 정보 수정</button>
    </form>

</body>
</html>