<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SEMI-PROJECT</title>
    <link rel="stylesheet" href="/style/main.css" />

</head>
<body>
<h1>메인</h1>
<hr>
<h3>로그인 구역</h3>

<div sec:authorize="!isAuthenticated()">
    <a href="/member/auth/login">로그인</a>
</div>
<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
    <a href="/member/user/myPage">마이페이지</a>
</div>
<div sec:authorize="hasAnyAuthority('BUSINESS')">
    <a href="/member/business/myPage">마이페이지</a>
</div>
<div sec:authorize="!isAuthenticated()">
    <a href="/member/user/signup">회원가입</a>
</div>

<!--<img th:src="${ userSession.image }" alt="사진!" width="100" height="100">-->
<div sec:authorize="hasAnyAuthority('ADMIN', 'USER', 'BUSINESS')">
    <h2 th:if="${userSession != null}" th:text="|${ userSession.nickname } 님, 안녕하세요.|"></h2>
</div>

<br>
<hr>
<br>

<h3> 상세조회(사업자 마이페이지) userid로 조회, userid로 등록된 사업장이 없다면 등록페이지로 리다이렉팅 </h3>
<div sec:authorize="hasAnyAuthority('BUSINESS')">
    <a th:href="@{'reservation/schedule/storeInfo/' + ${userSession.id}}">사업장 </a>
</div>
<hr>

<!-- 예약 관련 버튼 -->
<div class="action-buttons">
    <button onclick="location.href='/reservation/storeList'">예약 가능한 업체 리스트 조회하기</button>
    <button onclick="location.href='/reservation/reservationList'">예약 일정 리스트 보기</button> <!-- 추가된 버튼 -->
</div>


<hr>
<br>
<h3>게시판 조회 및 세부 조회</h3>
<button onclick="location.href='/board/searchlist'">게시글 조회 부분</button>


<h3>게시글 쓰기</h3>
<button onclick="location.href='/board/createpost'">게시글 쓰기</button>


</body>
</html>
   