## server config
server:
  port: 8080

## driver config
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/moyomoyoedb
    username: moyomoyoe
    password: moyomoyoe
  mvc:
    static-path-pattern: /static/**
  thymeleaf:
    enabled: true
    cache: false
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  web:
    resources:
      static-locations: classpath:/static/
  freemarker:
    cache: false

## mybatis config
mybatis:
  mapper-locations: mappers/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

## logging config for transaction
logging:
  level:
    org:
      springframework:
        transaction: TRACE